* {
    font-family: sans-serif;
    font-size: 1rem;
}


html, body {
    background-color: #222;
    min-height:1200px;
    overflow: hidden;
}


html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html.dark, body.dark {
    background: #283442;
    background: -moz-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #283442), color-stop(40%, #122335), color-stop(100%, #000d19));
    background: -webkit-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -o-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -ms-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: radial-gradient(ellipse at center, #283442 0%, #122335 40%, #000d19 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#283442', endColorstr='#000d19', GradientType=1);
}

.icon_link {
    background: linear-gradient(131deg, rgba(130, 0, 170, 1) 0%, rgba(255, 0, 0, 1) 48%, rgba(255, 211, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, rgba(255, 166, 0, 0) 0%, rgb(0, 0, 0) 50%);
    /*padding: 0.5rem 1rem;*/
}

.main_nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    /* justify-content: center; */

}

.main_nav li {
    padding: 1rem 1rem;
    text-transform: uppercase;
}

.main_nav li .fas {
    color: #c2ad7e;
    padding: 0.7rem 0.3rem;
}

.main_nav h1 {
  text-decoration: none;
  padding: 1rem 5rem;
  text-transform: uppercase;
}

.main_nav a {
    color: #fff;
    padding-bottom: 0.3rem;
    border-bottom: 2px transparent solid;
    transition: border-color 1s;
    font-size: 17px;

}

.logo_title {
    color: #fff;
    text-transform: none;
    font-size: 20px;

}

.main_nav a:hover {
    border-color: white;
}

.main_nav a.current_page {
    text-decoration: none;
}


.banner_content {
  display: flex;
  align-items: center;
  color: white;
  padding: 10%;
  position: absolute;
  top: 20%;
}

.banner_text{
  font-size: 2rem;
  font-weight: bold;
  padding-right: 100px;
  text-align: center;
}
.banner_text h1 {
  font-size:150%; 
}

.banner_text p {
  font-size:100%; 
}

.picture {
  border-radius: 50%;
  height: 300px;
}

.project_picture {
  border-radius: 5%;
  height: 400px;
}

.banner_pic {
  height: 1rem;
  width: 0.5rem;

}



.icon_bar {
  z-index: 100;
  position: fixed;
  
  top: 50%;
  height: 30%;
  /*background: linear-gradient(to left, rgba(255, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
  linear-gradient(to top, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 75%);*/
}

.icon_bar nav {
  z-index: 100;
  
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform .2s;
    
}

.icon_bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 20px;

}

.icon_bar a:hover {
    transform: scale(1.5) rotate(10deg) translateX(20%);
}




.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg);
  transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background: #283442;
    background: -moz-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #283442), color-stop(40%, #122335), color-stop(100%, #000d19));
    background: -webkit-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -o-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -ms-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: radial-gradient(ellipse at center, #283442 0%, #122335 40%, #000d19 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#283442', endColorstr='#000d19', GradientType=1);

}
.background:nth-child(3) {
  background: #283442;
    background: -moz-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #283442), color-stop(40%, #122335), color-stop(100%, #000d19));
    background: -webkit-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -o-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: -ms-radial-gradient(center, ellipse cover, #283442 0%, #122335 40%, #000d19 100%);
    background: radial-gradient(ellipse at center, #283442 0%, #122335 40%, #000d19 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#283442', endColorstr='#000d19', GradientType=1);

}
.background:nth-child(4) {
  background-color: rgba(0, 0, 0, 1);
}
.background:nth-child(5) {
  background-color: #122335;
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 5;
}

.background:nth-child(2) {
  z-index: 4;
}

.background:nth-child(3) {
  z-index: 3;
}
.background:nth-child(4) {
  z-index: 2;
}
.background:nth-child(5) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}











@media (max-width: 950px) {
  .main_nav {
    position: relative;
    width: auto;
    padding: 1.5rem 2rem;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, rgba(255, 166, 0, 0) 0%, rgb(0, 0, 0) 30%); }
    .main_nav ul{
      text-align: center;
      align-items: center;
    }
    
    .main_nav li {
      width: 33%;
      margin-top: 0rem;
      font-size: 0.9rem;
      padding: 1rem; }
    .main_nav h1 {
      margin: 0rem;
      padding: 0rem;
      font-size: 2rem;
    }
  .section_projects .project {
    margin: 0.2rem; }
    .section_projects .project img {
      max-width: 600px;
      min-width: 240px;
      max-height: none;
      min-height: 90px; }
    .section_projects .project .project_galery {
      margin-bottom: 2rem; } }

@media (max-width: 650px) {
  .main_nav li {
    padding: 0.5rem;
    font-size: 0.8rem; 
    text-align: center;}
  .header {
    height: 100%; }
    .header .header_content {
      padding: 4.4rem; }
      .header .header_content .cta_title {
        font-size: 2.5rem; }
      .header .header_content .cta_catch {
        font-size: 1rem; } }